<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.mapper.dbochar.DBOCharMapper">
    <resultMap type="com.cc.entity.DBOChar" id="DBOCharResult">
        <id property="charID" column="CharID"/>
        <result property="charName" column="CharName"/>
        <result property="accountID" column="AccountID"/>
        <result property="level" column="Level"/>
        <result property="race" column="Race"/>
        <result property="dboClass" column="Class"/>
        <result property="gender" column="Gender"/>
        <result property="guildName" column="GuildName"/>
    </resultMap>

    <select id="getDBOCharList" resultMap="DBOCharResult">
        select CharID,CharName,AccountID,Level,Race,Class,Gender,GuildName from characters
        where AccountID = #{accountID};
    </select>
</mapper>