<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.mapper.dboacc.EventMapper">
    <resultMap type="com.cc.entity.Event" id="EventResult">
        <id property="id" column="id"/>
        <result property="event_name" column="event_name"/>
        <result property="monday" column="monday"/>
        <result property="tuesday" column="tuesday"/>
        <result property="wednesday" column="wednesday"/>
        <result property="thursday" column="thursday"/>
        <result property="friday" column="friday"/>
        <result property="saturday" column="saturday"/>
        <result property="sunday" column="sunday"/>
    </resultMap>

    <select id="getEventList" resultMap="EventResult">
        select `id`,`event_name`,`monday`,`tuesday`,`wednesday`,`thursday`,`friday`,`saturday`,`sunday` from event;
    </select>

    <insert id="adminEventSave">
        insert into event(`event_name`, `monday`, `tuesday`, `wednesday`, `thursday`, `friday`, `saturday`, `sunday`)
        values (#{event_name}, #{monday}, #{tuesday}, #{wednesday}, #{thursday}, #{friday}, #{saturday}, #{sunday});
    </insert>

    <update id="adminEventUpdate">
        update event
        set `event_name` = #{event_name},
            `monday`=#{monday},
            `tuesday`=#{tuesday},
            `wednesday`=#{wednesday},
            `thursday`=#{thursday},
            `friday`=#{friday},
            `saturday`=#{saturday},
            `sunday`=#{sunday}
        where `id` = #{id}
    </update>

    <delete id="adminEventDelete">
        delete
        from event
        where `id` = #{id};
    </delete>
</mapper>
