<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.mapper.dboacc.WpShopMapper">
    <resultMap type="com.cc.entity.WpShop" id="WpShopResult">
        <id property="id" column="id"/>
        <result property="serverChannelID" column="ServerChannelID"/>
        <result property="merchantTab" column="MerchantTab"/>
        <result property="idxItemTbl" column="idxItemTbl"/>
        <result property="dwPrice" column="dwPrice"/>
        <result property="dwMinPrice" column="dwMinPrice"/>
        <result property="dwInventory" column="dwInventory"/>
    </resultMap>

    <select id="adminGetAllWpShopList" resultMap="WpShopResult">
        select `id`, `ServerChannelID`, `MerchantTab`, `idxItemTbl`, `dwPrice`, `dwMinPrice`, `dwInventory`
        from wp_shop;
    </select>

    <insert id="adminSaveWpShop">
        insert into wp_shop(`ServerChannelID`, `MerchantTab`, `idxItemTbl`, `dwPrice`, `dwMinPrice`, `dwInventory`)
        values (#{serverChannelID}, #{merchantTab}, #{idxItemTbl}, #{dwPrice}, #{dwMinPrice}, #{dwInventory});
    </insert>

    <update id="adminUpdateWpShop">
        update wp_shop
        set `ServerChannelID` = #{serverChannelID},
            `MerchantTab`     = #{merchantTab},
            `idxItemTbl`      = #{idxItemTbl},
            `dwPrice`         = #{dwPrice},
            `dwMinPrice`      = #{dwMinPrice},
            `dwInventory`     = #{dwInventory}
        where `id` = #{id};
    </update>

    <delete id="adminDeleteWpShopById">
        delete
        from wp_shop
        where `id` = #{id};
    </delete>

</mapper>
